@use "sass:math";

$color-a: #dba25e;
$color-b: #ce7d1be8 ;
$color-c: #825B2C ;

$color-text-1: #222;
$color-text-2: #595959;
$color-text-3: #fff;

//brief
$brief-font-size: 17px;
$brief-font-weight: 400;
$brief-color: $color-text-2;